#!/usr/bin/make -f

export KVER ?= $(shell uname -r)
PKGDIR := debian/panel-waveshare-dsi

KIMAGE_PKG ?= linux-image-btt-rockchip64
KIMAGE_VER ?= $(shell dpkg-query  --showformat='$${Version}' --show $(KIMAGE_PKG) 2>/dev/null)

%:
	dh $@

override_dh_auto_build:
	$(MAKE) module

override_dh_auto_install:
	install -D -m 644 module/panel-waveshare-dsi.ko $(PKGDIR)/lib/modules/$(KVER)/updates/panel-waveshare-dsi.ko
	install -D -m 644 overlay/panel-waveshare-dsi.dts $(PKGDIR)/usr/share/panel-waveshare-dsi/panel-waveshare-dsi.dts

override_dh_auto_clean:
	rm -f module/*.o module/*.ko module/*.mod module/*.mod.c module/.*.cmd module/Module.symvers module/modules.order

override_dh_installmodules:

override_dh_gencontrol:
	@test -n "$(KIMAGE_PKG)" -a -n "$(KIMAGE_VER)" || \
	  { echo "Cannot find kernel image package for $(KVER); set KIMAGE_PKG and KIMAGE_VER"; exit 1; }
	dh_gencontrol -- -Vkernel:Version=$(KVER) \
	  -Vkernel:Depends="$(KIMAGE_PKG) (= $(KIMAGE_VER))"
